<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/external/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/external/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/external/jquery/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
</head>
<body>
<div th:replace="header :: header"></div>
<div id="content" class="container">
    <h2>Your account is registered!</h2>
</div>
</body>
</html>