<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Editing</title>
</head>
<body>
<form action="#" th:action="@{/edit.html}" th:object="${edit}" method="post">
    <table border="1">
    <tr>
        <td>Task</td>
        <td>Adding date</td>
        <td>Last time updated</td>
        <td>Done at</td>
        <td>Archived</td>
    </tr>
    <tr>

        <td th:text="*{description}"></td>
        <td th:text="*{createdAt}"></td>
        <td th:text="*{updatedAt}"></td>
        <td th:text="*{doneAt}"></td>
        <td th:text="*{archived}"></td>
    </tr>
    </table>


    <h1>Task Description: </h1>
    <input type="text" th:field="*{description}"/>


    <button type="submit">Edit</button>
</form>

</body>
</html>